body {
    background: black;
    font-family: 'Jersey 15', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* Navbar düzenlemeleri */
.navbar {
    position: sticky;
    top: 0;  /* Navbar sayfa kaydırıldıkça üstte sabit kalacak */
    background-color: #0d0d0d;
    border: 0.5px solid #fff;
    padding: 15px 15px;
    z-index: 1000;  /* Navbar'ın üstte kalması için yüksek z-index */
    display: flex;  /* Flexbox ile tüm öğeleri hizala */
    justify-content: center;  /* Menü öğeleri ortalanacak */
    align-items: center;  /* Dikeyde ortalama */
}

/* Sol tarafta adınızı hizalama */

/* Menü öğelerinin düzeni */
.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;  /* Menü öğelerini yatayda ortalar */
    padding: 0;
    margin: 0;
    align-items: center;  /* Menü öğelerini dikeyde ortalar */
}

/* Menü öğelerinin düzeni */
.nav-links li {
    margin: 0 6px;  /* Her bir öğe arasına boşluk ekler */
    border: 0.5px solid white;
    padding: 5px 10px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
}

/* Hover efekti */
.nav-links a:hover {
    color: white;
    border-color: #333;
    padding: 5px 10px;
}



#about,#skills,#experience,#projects{
    scroll-margin-top: 60px;
}


.big-container{
    width: 80%;
    max-width: 900px;
    height: auto;
    background-color: #000000;
    border-radius: 100px;
    border: 2.5px solid #7d7d7d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    color: white;
    margin: 20px auto;

}
.separator {
    font-size: 40px; /* Sembol boyutunu büyütme */
    color: #333; /* Sembol rengini ayarlama */
    margin: 20px 0; /* Paragraflar arasında boşluk oluşturma */
    line-height: 0; /* Sembolün yüksekliğini ayarlayarak daha sıkı görünmesini sağlama */
    text-align: center;
    padding: 20px;
}
.about-header {
    font-size: 40px;
    color: white; /* Hakkımda başlığını beyaz yapalım */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Simge ile yazı arasındaki mesafe */
    margin-top: 20px; /* Yukarıdan boşluk */
    margin-bottom: 20px; /* Aşağıdan boşluk */
}
.about-header i {
    font-size: 40px; /* Simge boyutu */
    color: white; /* Simgenin rengi */
}
.skills-expertise-header {
    font-size: 40px;
    color: white; /* Hakkımda başlığını beyaz yapalım */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Simge ile yazı arasındaki mesafe */
    margin-top: 20px; /* Yukarıdan boşluk */
    margin-bottom: 20px; /* Aşağıdan boşluk */
}
.skills-expertise-header i {
    font-size: 40px; /* Simge boyutu */
    color: white; /* Simgenin rengi */
}
.projects-header {
    font-size: 40px;
    color: white; /* Hakkımda başlığını beyaz yapalım */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Simge ile yazı arasındaki mesafe */
    margin-top: 20px; /* Yukarıdan boşluk */
    margin-bottom: 20px; /* Aşağıdan boşluk */
}

.projects-header i {
    font-size: 40px; /* Simge boyutu */
    color: white; /* Simgenin rengi */
}
.experience-header {
    font-size: 40px;
    color: white; /* Hakkımda başlığını beyaz yapalım */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Simge ile yazı arasındaki mesafe */
    margin-top: 20px; /* Yukarıdan boşluk */
    margin-bottom: 20px; /* Aşağıdan boşluk */
}

.experience-header i {
    font-size: 40px; /* Simge boyutu */
    color: white; /* Simgenin rengi */
}

.container-name {
    font-size: 75px;
    text-align: center;
}

.container-job {
    font-size: 35px;
    color: #7d7d7d;
    opacity: 0.45;
    text-align: center;
}

.container-text {
    font-size: 25px;
    text-align: center;
}

.profile-container {
    width: 80%;
    max-width: 900px;
    height: auto;
    background-color: #000000;
    border-radius: 45px;
    border: 1px solid #7d7d7d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    color: white;
    margin: 20px auto;
}

.social-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 35px;
    width: 100%;
}

.linkedin-icon, .mail-icon, .github-icon {
    background-color: black;
    color: inherit;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #7d7d7d;
    padding: 10px;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 5px;
    transition: all 0.3s ease-in-out;
}

.linkedin-icon:hover, .mail-icon:hover, .github-icon:hover {
    background-color: #333;
    color: white;
}
.skills-section {
    display: flex;
    justify-content: center; /* Container'leri yatayda ortalar */
    gap: 20px; /* Aralarındaki boşluğu ayarlar */
    margin-top: 40px;
    width: 100%;
}

.software-container, .tools-container {
    width: calc(50% - 25x%); /* Aradaki boşlukları hesaba katarak kutuları küçültüyoruz */
    background-color: #000000;
    border-radius: 45px;
    border: 1px solid #7d7d7d;
    padding: 20px;
    color: white;
}

.software-header {
    font-size: 25px;
    color: white;
    text-align: center;
}

.tools-section {
    display: flex;
    justify-content: center; /* Container'leri yatayda ortalar */
    gap: 20px; /* Aralarındaki boşluğu ayarlar */
    margin-top: 40px;
    width: 100%;
}

.software-container, .tools-container {
    width: calc(50% - 20x%); /* Aradaki boşlukları hesaba katarak kutuları küçültüyoruz */
    background-color: #000000;
    border-radius: 45px;
    border: 1px solid #7d7d7d;
    padding: 20px;
    color: white;
}

.tools-header {
    font-size: 25px;
    color: white;
    text-align: center;
}


.circle {
    background-color: #21212152;
    color: white;
    border-radius: 50%;
    padding: 10px 20px; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4vw; 
    transition: background-color 0.3s ease;
    height: auto;
    width: auto;
    min-width: 50px;
    text-align: center;
    line-height: 1; 
}

.circle:hover {
    background-color: #333;
}
.experience-container{
    width: 80%;
    max-width: 900px;
    height: auto;
    background-color: #000000;
    border-radius: 45px;
    border: 1px solid #7d7d7d;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Sola yasla */
    justify-content: flex-start; /* Konumlandırmayı başa almak için */
    text-align: left;
    padding: 20px;
    color: white;
    margin: 20px auto;
    position: relative; /* Pozisyonlamayı etkinleştirir */

}

.brands-container-1 {
    width: 80%;
    max-width: 900px;
    height: auto;
    background-color: #000000;
    border-radius: 45px;
    border: 1px solid #7d7d7d;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Sola yasla */
    justify-content: flex-start; /* Konumlandırmayı başa almak için */
    text-align: left;
    padding: 20px;
    color: white;
    margin: 20px auto;
    position: relative; /* Pozisyonlamayı etkinleştirir */
}

.brands-name-1 {
    font-size: 25px;
    text-align: left;
    padding: 6px;
}
.brands-text-1 {
    font-size: 17px;
    text-align: left;
    padding-left: 15px;
     /* Satır yüksekliğiyle okuma kolaylığı sağlamak için */
}

/* Çalışma tarihleri için stil */
.brand-work-dates-1 {
    position: absolute; /* Konumlandırma için */
    top: 20px; /* Üstten mesafe */
    right: 20px; /* Sağdan mesafe */
    font-size: 14px;
    color: #7d7d7d;
    opacity: 0.75;
}

/* Tarih yazısının görünümünü ayarlamak */
.brand-work-dates-1{
    font-weight: bold;
}
.brands-container-2 {
    width: 80%;
    max-width: 900px;
    height: auto;
    background-color: #000000;
    border-radius: 45px;
    border: 1px solid #7d7d7d;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Sola yasla */
    justify-content: flex-start; /* Konumlandırmayı başa almak için */
    text-align: left;
    padding: 20px;
    color: white;
    margin: 20px auto;
    position: relative; /* Pozisyonlamayı etkinleştirir */
}

.brands-name-2 {
    font-size: 25px;
    text-align: left;
    padding: 6px;
}
.brands-text-2 {
    font-size: 17px;
    text-align: left;
    text-indent: 20px; /* Yazıyı içeri kaydırır */
     /* Satır yüksekliğiyle okuma kolaylığı sağlamak için */
}

/* Çalışma tarihleri için stil */
.brand-work-dates-2 {
    position: absolute; /* Konumlandırma için */
    top: 20px; /* Üstten mesafe */
    right: 20px; /* Sağdan mesafe */
    font-size: 14px;
    color: #7d7d7d;
    opacity: 0.75;
}

/* Tarih yazısının görünümünü ayarlamak */
.brand-work-dates-2{
    font-weight: bold;
}
.brands-container-3 {
    width: 80%;
    max-width: 900px;
    height: auto;
    background-color: #000000;
    border-radius: 45px;
    border: 1px solid #7d7d7d;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Sola yasla */
    justify-content: flex-start; /* Konumlandırmayı başa almak için */
    text-align: left;
    padding: 20px;
    color: white;
    margin: 20px auto;
    position: relative; /* Pozisyonlamayı etkinleştirir */
}

.brands-name-3 {
    font-size: 25px;
    text-align: left;
    padding: 6px;
}
.brands-text-3 {
    font-size: 17px;
    text-align: left;
    text-indent: 20px; /* Yazıyı içeri kaydırır */
     /* Satır yüksekliğiyle okuma kolaylığı sağlamak için */
}

/* Çalışma tarihleri için stil */
.brand-work-dates-3 {
    position: absolute; /* Konumlandırma için */
    top: 20px; /* Üstten mesafe */
    right: 20px; /* Sağdan mesafe */
    font-size: 14px;
    color: #7d7d7d;
    opacity: 0.75;
}

/* Tarih yazısının görünümünü ayarlamak */
.brand-work-dates-3{
    font-weight: bold;
}
.projects-container-1 {
    width: 80%;
    max-width: 900px;
    height: auto;
    background-color: #000000;
    border-radius: 45px;
    border: 1px solid #7d7d7d;
    display: flex;
    flex-direction: row; /* Yatayda düzen */
    align-items: center; /* Dikey ortalama */
    justify-content: space-between; /* Aradaki boşluk */
    text-align: left;
    padding: 20px;
    color: white;
    margin: 20px auto;
    position: relative;
}

.project-info-1 {
    display: flex;
    flex-direction: column; /* Proje bilgilerini sütun yapar */
}

.project-name-1 {
    font-size: 25px;
    padding: 6px;
}

.project-text-1 {
    font-size: 17px;
    text-indent: 20px;
}

.project-link-1 {
    font-size: 20px;
    margin-left: inherit; /* Linki sağa it */
}

.project-link-1 a {
    color: white; /* GitHub link rengi */
    text-decoration: none;
}

.project-link-1 a:hover {
    color: #333;
}
.projects-container-2 {
    width: 80%;
    max-width: 900px;
    height: auto;
    background-color: #000000;
    border-radius: 45px;
    border: 1px solid #7d7d7d;
    display: flex;
    flex-direction: row; /* Yatayda düzen */
    align-items: center; /* Dikey ortalama */
    justify-content: space-between; /* Aradaki boşluk */
    text-align: left;
    padding: 20px;
    color: white;
    margin: 20px auto;
    position: relative;
}

.project-info-2 {
    display: flex;
    flex-direction: column; /* Proje bilgilerini sütun yapar */
}

.project-name-2 {
    font-size: 25px;
    padding: 6px;
}

.project-text-2 {
    font-size: 17px;
    text-indent: 20px;
}

.project-link-2 {
    font-size: 20px;
    margin-left: inherit; /* Linki sağa it */
}

.project-link-2 a {
    color: white; /* GitHub link rengi */
    text-decoration: none;
}

.project-link-2 a:hover {
    color: #333;
}
.projects-container-3 {
    width: 80%;
    max-width: 900px;
    height: auto;
    background-color: #000000;
    border-radius: 45px;
    border: 1px solid #7d7d7d;
    display: flex;
    flex-direction: row; /* Yatayda düzen */
    align-items: center; /* Dikey ortalama */
    justify-content: space-between; /* Aradaki boşluk */
    text-align: left;
    padding: 20px;
    color: white;
    margin: 20px auto;
    position: relative;
}

.project-info-3 {
    display: flex;
    flex-direction: column; /* Proje bilgilerini sütun yapar */
}

.project-name-3 {
    font-size: 25px;
    padding: 6px;
}

.project-text-3 {
    font-size: 17px;
    text-indent: 20px;
}

.project-link-3 {
    font-size: 20px;
    margin-left: inherit; /* Linki sağa it */
}

.project-link-3 a {
    color: white; /* GitHub link rengi */
    text-decoration: none;
}

.project-link-3 a:hover {
    color: #333;
}

@media (max-width: 768px) {
    .circle {
        height: 70px;
        width: 70px;
        font-size: 16px;
    }

    .software-section {
        flex-direction: column;
        gap: 40
    }